/*--------------------------------*- C++ -*----------------------------------*\
|       o        |                                                            |
|    o     o     |  HELYX (R) : Open-source CFD for Enterprise                |
|   o   O   o    |  Version : 4.4.0                                           |
|    o     o     |  ENGYS Ltd. <http://engys.com/>                            |
|       o        |                                                            |
\*---------------------------------------------------------------------------*/

type            fieldValueDelta;
libs            ("libfieldFunctionObjects.so");

operation       subtract;

writeControl    timeStep;
writeInterval   1
log             false;

region1
{
    #includeEtc "caseDicts/postProcessing/surfaceFieldValue/surfaceRegion.cfg"
    operation       areaAverage;
    fields          (p);
}
region2
{
    #includeEtc "caseDicts/postProcessing/surfaceFieldValue/surfaceRegion.cfg"
    operation       areaAverage;
    fields          (p);
}

// ************************************************************************* //
