/*--------------------------------*- C++ -*----------------------------------*\
|       o        |                                                            |
|    o     o     |  HELYX (R) : Open-source CFD for Enterprise                |
|   o   O   o    |  Version : 4.4.0                                           |
|    o     o     |  ENGYS Ltd. <http://engys.com/>                            |
|       o        |                                                            |
\*---------------------------------------------------------------------------*/

#includeEtc "caseDicts/postProcessing/surfaceFieldValue/surfaceRegion.cfg"

regionType sampledSurface;

sampledSurfaceDict
{
    type        sampledTriSurfaceMesh;
    surface     $triSurface;
    source      cells;
    interpolate true;
}

// ************************************************************************* //
